 <h1 class="center">Bienvenue sur le café virtuel du J </h1>

 <div class="container">
  <div class="row">
    <div *ngFor="let m of listMenu" class="col s12 m6 l4">
      <div class="carte horizontal">

        <div class="carte-image">
          <img
            [src]="'assets/images/' + m.name + '.jpg'"
            [alt]="m.name">
        </div>

        <div class="carte-stacked">
          <div class="carte-content">
            <h5>{{ m.name }}</h5>
            <p>{{ m.description }}</p>
            <p><strong>Prix :</strong> {{ m.price }} €</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

        


 



  

  
 